<!DOCTYPE html>
<html lang="zh-cmn-Hant">
    <head>
        <meta charset="utf-8">
        <!--兼容ie-->
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Paws</title>

        <meta name="description" content="ChangePost page of 'Paws'">
        <meta name="author" content="Intion Lee">

        <link href="/static/css/bootstrap.min.css" rel="stylesheet">
        <link href="/static/css/style.css" rel="stylesheet">
        <link href="/static/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
    </head>

    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <!--導航列-->
                    <ul class="nav nav-tabs">
                        <li>
                            <a href="{% url 'HomePage' %}">首頁</a>
                        </li>
                        <li>
                            <a href="{% url 'FindPetPost' %}">尋寵啟事</a>
                        </li>
                        <li>
                            <a href="{% url 'FindMasterPost' %}">尋主啟事</a>
                        </li>
                        <li>
                            <a href="{% url 'Serch' %}">搜索</a>
                        </li>
                        <!--下拉選單-->
                        <li class="dropdown pull-right">
                            {% if user %}
                                <a href="#" data-toggle="dropdown" class="dropdown-toggle">歡迎用戶&nbsp;&nbsp;<span id="base_name">{{ user.myuser.pubname }}</span></a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="{% url 'Logout' %}">登出</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'ChangeAccount' %}">會員資料修改</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'ChangePassword' %}">會員密碼修改</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'MyPost' %}">我的啟事</a>
                                    </li>
                                </ul>
                            {% else %}
                                <a href="#" data-toggle="dropdown" class="dropdown-toggle">用戶請登入<strong class="caret"></strong></a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="{% url 'Login' %}">登入</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'SignUp' %}">註冊</a>
                                    </li>
                                </ul>
                            {% endif %}
                        </li>
                    </ul>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6 body-main">
                    <img class="img-responsive center-block" id="logo" alt="Logo Image Of Paws" src="/static/images/logo.png">
                </div>
                <div class="col-sm-6 body-main">
                    {% if state == 'success' %}
                        <div class="well" id="warn3">
                            <h4 class="text-success text-center">修改成功</h4>
                        </div>
                    {% endif %}

                    <form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% ifequal mylostnotice.flag 1 %}
                            <legend>丟失寵物資訊</legend>
                        {% endifequal %}
                        {% ifequal mylostnotice.flag 2 %}
                            <legend>拾獲寵物資訊</legend>
                        {% endifequal %}

                        <div class="col-sm-12">
                            <img src="/media/{{mylostnotice.petimg}}" alt="" id="pic-2"/>
                        </div>

                        <div class="col-sm-12">
                            <h1>                       </h1>
                        </div>
                            
                        <div class="form-group">
                            <label class="col-sm-3 control-label">寵物類別：</label>
                            <div class="col-sm-6">
                                <label class="control-label">{{ mylostnotice.animal }}</label>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">寵物品種：</label>
                            <div class="col-sm-6">
                                <label class="control-label">{{ mylostnotice.pettype }}</label>
                            </div>
                        </div>

                         <div class="form-group">
                            <label for="input_PetID" class="col-sm-3 control-label">寵物晶片號碼：</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" name="petid" id="input_PetID" value="{{ mylostnotice.petid }}">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="input_PetColor" class="col-sm-3 control-label">毛色/花色：</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" name="petcolor" id="input_PetColor" value="{{ mylostnotice.petcolor }}">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label"><font color="red">*</font> 寵物性別：</label>
                            <div class="col-sm-6">
                                <select class="form-control" name="petgender" id="input_PetGender" required> 
                                    <option value="公">公</option>
                                    <option value="母">母</option>
                                    <option value="不清楚">不清楚</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label"><font color="red">*</font> 寵物體型：</label>
                            <div class="col-sm-6">
                                <select class="form-control" name="size" id="input_size" required> 
                                    <option value="小型 (0-10公斤)">小型 (0-10公斤)</option>
                                    <option value="中型 (10-20公斤)">中型 (10-20公斤)</option>
                                    <option value="中型 (20公斤以上)">中型 (20公斤以上)</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label"><font color="red">*</font> 是否結扎：</label>
                            <div class="col-sm-6">
                                <select class="form-control" name="ligation" id="input_ligation" required> 
                                    <option value="是">是</option>
                                    <option value="否">否</option>
                                    <option value="不清楚">不清楚</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="input_PetFeature" class="col-sm-3 control-label">寵物特徵/其他備註：</label>
                            <div class="col-sm-6">
                                <textarea type="text" class="form-control" rows="5" name="petfeature" id="input_PetFeature">{{ mylostnotice.petfeature }}</textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="input_location" class="col-sm-3 control-label"><font color="red">*</font> 拾獲地點：</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" name="location" id="input_location" value="{{ mylostnotice.location }}" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label"><font color="red">*</font> 拾獲日期：</label>
                            <div class="col-sm-6">
                                <label class="control-label">{{ mylostnotice.time|date:"Y-m-d" }}</label>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="input_ContactName" class="col-sm-3 control-label"><font color="red">*</font> 聯絡人：</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" name="contactname" id="input_ContactName" value="{{ mylostnotice.contactname }}" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="input_phonenumber" class="col-sm-3 control-label"><font color="red">*</font> 聯絡電話：</label>
                            <div class="col-sm-6">
                                <input type="tel" class="form-control" name="phonenumber" id="input_phonenumber" value="{{ mylostnotice.phonenumber }}" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="input_email" class="col-sm-3 control-label"><font color="red">*</font> 聯絡Email：</label>
                            <div class="col-sm-6">
                                <input type="email" class="form-control" name="email" id="input_email" value="{{ mylostnotice.email }}" required>
                            </div>
                        </div> 

                        <div class="form-group">
                            <div class="col-sm-9">
                                 <label class="btn-right"><font color="red">*</font>為必填欄位</label>
                            </div>
                        </div>

                        <div class="col-sm-9">
                            <div class="btn-right">
                                <a href="{% url 'Detail' %}?id={{ mylostnotice.id }}"><button type="button" class="btn btn-default" id="change">返回啟事資訊頁</button></a>
                                <button type="submit" class="btn btn-default" id="upload">提交</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <script src="/static/js/jquery.min.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>
        <script src="/static/js/scripts.js"></script>
        <script type="text/javascript"> 
            $(document).ready(function(){
                $('#input_PetGender').val('{{ mylostnotice.petgender }}');
                $('#input_size').val('{{ mylostnotice.size }}');
                $('#input_ligation').val('{{ mylostnotice.ligation }}');
                document.getElementById("warn3").style.display="";
                
            });
        </script>
    </body>
</html>