<!DOCTYPE html>
<html lang="zh-cmn-Hant">
    <head>
        <meta charset="utf-8">
        <!--兼容ie-->
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Paws</title>

        <meta name="description" content="FindMaster page of 'Paws'">
        <meta name="author" content="Intion Lee">

        <link href="/static/css/bootstrap.min.css" rel="stylesheet">
        <link href="/static/css/style.css" rel="stylesheet">
        <link href="/static/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
    </head>

    <body>

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <!--導航列-->
                    <ul class="nav nav-tabs">
                        <li>
                            <a href="{% url 'HomePage' %}">首頁</a>
                        </li>
                        <li>
                            <a href="{% url 'FindPetPost' %}">尋寵啟事</a>
                        </li>
                        <li>
                            <a href="{% url 'FindMasterPost' %}">尋主啟事</a>
                        </li>
                        <li>
                            <a href="{% url 'Serch' %}">搜索</a>
                        </li>
                        <!--下拉選單-->
                        <li class="dropdown pull-right">
                            {% if user %}
                                <a href="#" data-toggle="dropdown" class="dropdown-toggle">歡迎用戶&nbsp;&nbsp;<span id="base_name">{{ user.myuser.pubname }}</span></a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="{% url 'Logout' %}">登出</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'ChangeAccount' %}">會員資料修改</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'ChangePassword' %}">會員密碼修改</a>
                                    </li>
                                </ul>
                            {% else %}
                                <a href="#" data-toggle="dropdown" class="dropdown-toggle">用户请登入<strong class="caret"></strong></a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="{% url 'Login' %}">登入</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'SignUp' %}">註冊</a>
                                    </li>
                                </ul>
                            {% endif %}
                        </li>
                    </ul>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4 body-main">
                    <img class="img-responsive center-block" id="logo" alt="Logo Image Of Paws" src="/static/images/logo.png">
                </div>
                <div class="col-md-8 body-main">
                        <legend>寵物資訊</legend>

                        <div class="col-md-12">
                            <img src="/media/{{mylostnotice.petimg}}" alt="" id="pic-2"/>
                        </div>

                         <div class="col-md-12">
                            <h1>                       </h1>
                        </div>

                        <div class="col-md-10 col-sm-offset-1">
                            <table class="table" frame=void>
                                    <tbody>
                                        <tr>
                                            <td><img src="/static/images/logo.png" alt="" id="logo-small"/>     寵物狀態：    
                                                {% ifequal mylostnotice.flag 1 %}
                                                    走失
                                                {% endifequal %}
                                                {% ifequal mylostnotice.flag 2 %}
                                                    拾獲
                                                {% endifequal %}
                                            </td>
                                            <td><img src="/static/images/logo.png" alt="" id="logo-small"/>    寵物性別：    {{ mylostnotice.petgender }}</td>
                                        </tr>
                                        <tr>
                                            <td><img src="/static/images/logo.png" alt="" id="logo-small"/>    寵物類別：    {{ mylostnotice.animal }}</td>
                                            <td><img src="/static/images/logo.png" alt="" id="logo-small"/>    寵物品種：    {{ mylostnotice.pettype }}</td>
                                        </tr>
                                        <tr>
                                            <td><img src="/static/images/logo.png" alt="" id="logo-small"/>    拾獲地點：    {{ mylostnotice.location }}</td>
                                            <td><img src="/static/images/logo.png" alt="" id="logo-small"/>    拾獲日期：    {{ mylostnotice.time|date:"Y-m-d" }}</td>
                                        </tr>
                                        <tr>
                                            <td><img src="/static/images/logo.png" alt="" id="logo-small"/>    寵物晶片號碼：    {{ mylostnotice.petid }}</td>
                                            <td><img src="/static/images/logo.png" alt="" id="logo-small"/>    寵物毛色/花色：  {{ mylostnotice.petcolor }}</td>
                                        </tr>
                                        <tr>
                                            <td><img src="/static/images/logo.png" alt="" id="logo-small"/>    寵物性別：    {{ mylostnotice.petgender }}</td>
                                            <td><img src="/static/images/logo.png" alt="" id="logo-small"/>    寵物體型：    {{ mylostnotice.size }}</td>
                                        </tr>
                                        <tr>
                                            <td><img src="/static/images/logo.png" alt="" id="logo-small"/>    是否結扎：    {{ mylostnotice.ligation }}</td>
                                            <td><img src="/static/images/logo.png" alt="" id="logo-small"/>    寵物特徵/其他備註：  {{ mylostnotice.feature }}</td>
                                        </tr>
                                        <tr>
                                            <td><img src="/static/images/logo.png" alt="" id="logo-small"/>    拾獲地點：    {{ mylostnotice.location }}</td>
                                            <td><img src="/static/images/logo.png" alt="" id="logo-small"/>    拾獲日期：    {{ mylostnotice.time|date:"Y-m-d" }}</td>
                                        </tr>
                                        <tr>
                                            <td><img src="/static/images/logo.png" alt="" id="logo-small"/>    聯絡人：    {{ mylostnotice.contactname }}</td>
                                            <td><img src="/static/images/logo.png" alt="" id="logo-small"/>    聯絡電話：    {{ mylostnotice.phonenumber }}</td>
                                        </tr>
                                        <tr>
                                            <td><img src="/static/images/logo.png" alt="" id="logo-small"/>    聯絡Email：    {{ mylostnotice.email }}</td>
                                            <td></td>
                                        </tr>
                                    </tbody>
                            </table>
                            <input class="btn btn-default btn-right" type ="button" onclick="history.back()" value="返回列表"></input>
                        </div>
                </div>
            </div>
        </div>
        <script src="/static/js/jquery.min.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>
        <script src="/static/js/scripts.js"></script>
        <script type="text/javascript">
        </script>
    </body>
</html>